.place__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 320px) {
  .place__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .place__text {
    gap: 26px;
  }
}
