.lead__image {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .lead__image {
    width: calc(100% - 48px*2);
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    width: calc(100% - 148px*2);
    margin-left: 148px;
    margin-right: 148px;
  }
}
