.cover__background {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 320px;
  max-width: 1184px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: linear-gradient(to right, rgba(42, 44, 47, .3), rgba(42, 44, 47, .3)), url(../../../images/cover-trains.jpg) no-repeat center / cover;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.cover__background:hover {
  background: linear-gradient(to right, rgba(42, 44, 47, .8), rgba(42, 44, 47, .8)), url(../../../images/cover-trains.jpg) no-repeat center / cover;
}

@media screen and (min-width: 768px) {
  .cover__background {
    gap: 32px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    min-height: 740px;
  }
}

